#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT   0
#define LOWER     1

/ {
	
	keymap {
		compatible = "zmk,keymap";

		default_layer {
            bindings = <
			
            &kp NUM_0    &kp NUM_1    &kp NUM_2    &kp NUM_3    &kp NUM_4                                        &kp NUM_5            &kp NUM_6    &kp NUM_7    &kp NUM_8    &kp NUM_9    
&kp LALT    &kp Q        &kp W        &kp E        &kp R        &kp T            &kp MINUS               &kp EQL     &kp Y            &kp U        &kp I        &kp O        &kp P        &kp RALT
&kp TAB     &kp A        &kp S        &kp D        &kp F        &kp G            &kp LBKT                &kp RBKT    &kp H            &kp J        &kp K        &kp L        &kp SCLN     &kp ESC
&kp LSFT    &kp Z        &kp X        &kp C        &kp V        &kp B            &kp GRAV    &kp PIPE    &kp QUOT    &kp N            &kp M        &kp CMMA     &kp DOT      &kp FSLH     &kp RSFT
                         &kp LCTL     &kp LGUI                  &lt LOWER SPC    &kp BKSP                &kp RET     &lt LOWER SPC                 &kp RGUI     &kp RCTL

			>;
		};

		lower_layer {
            bindings = <

          &kp F1    &kp F2    &kp F3    &kp F4    &kp F5                                     &kp F6      &kp F7      &kp F8      &kp F9      &kp F10    
&reset    &trans    &trans    &trans    &trans    &trans    &kp F11               &kp F12    &trans      &trans      &trans      &trans      &trans     &bootloader
&trans    &trans    &trans    &trans    &trans    &trans    &trans                &trans     &trans      &trans      &trans      &trans      &trans     &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans     &trans     &trans     &kp LARW    &kp DARW    &kp UARW    &kp RARW    &trans     &trans
		            &trans    &trans              &trans    &trans                &trans     &trans                  &trans      &trans      

			>;
		};
		
	};	

};


